
@import 'not-compiling/reset'
$desc: 1140
$tab: 1024
$mob: 760
$primaryColor: #00AA80
$secondaryColor: #1A2B35
=r($width)
    @media screen and (max-width: $width + 'px')
        @content

*
    box-sizing: border-box
    transition: .25s
::selection
    color: white
    background: $primaryColor
body
    font-family: 'Open Sans', sans-serif
    padding-top: 94px
.container
    width: 1140px

    padding: 0 20px
    margin: 0 auto
    position: relative
    +r($desc)
        width: 100%
.btn
    background: $primaryColor
    border-radius: 102px
    color: white
    text-decoration: none
    &:hover
        background: #067D60
.primary-color
    color: $primaryColor
.font-bold
    font-weight: bold
.header
    background: $secondaryColor
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25)
    padding: 20px 0
    position: fixed
    z-index: 100
    top: 0
    left: 0
    width: 100%
    &__container
        display: flex
        justify-content: space-between
        align-items: center
    &__btn
        font-size: 18px
        padding: 18px 68px
        display: inline-block
        margin-right: 20px
    &__box
        display: flex
        align-items: center
    &__flag
        padding: 0 15px 0 10px
        position: relative
        display: inline-block
        cursor: pointer
        &:after
            display: block
            content: ''
            width: 8px
            height: 6px
            background: url(../img/select-arr.png)
            position: absolute
            right: 15px
            top: 50%
            margin-top: -3px
            pointer-events: none
    &__flag-item
        display: flex
        align-items: center
        padding-left: 10px
        padding-right: 20px
        text-decoration: none
        &_dropdown
            margin-bottom: 7px
            &:last-of-type
                margin-bottom: 0
            &:hover
                background: #236a94
            img
                margin-left: 10px
        span
            display: inline-block
            margin-left: 7px
            color: white
            font-size: 12px
            text-transform: uppercase
    &__flag-dropdown
        position: absolute
        opacity: 0
        top: -200px
        left: 0
        background: #1A2B35
        width: 100%
        transform: scale(0)
        &.is-visible
            opacity: 1
            top: 40px
            transform: scale(1)
.title
    color: white
    text-transform: uppercase
.promo
    background-size: cover
    background:  url("../img/promo-bg.png") center top no-repeat, $secondaryColor
    -webkit-background-size: cover
    background-size: cover
    &__wrapper

    &__container

        padding-top: 162px
        padding-bottom: 182px
        display: flex
        justify-content: space-between
    &__title
        font-size: 40px
        margin-bottom: 16px
        letter-spacing: 2px
        line-height: 54px
    &__subtitle
        font-size: 42px
        margin-bottom: 23px
        letter-spacing: 3px
        line-height: 57px
    &__lasttitle
        font-size: 62px
        line-height: 84px
        letter-spacing: 6px
    &__left
        display: flex
        flex-direction: column
        justify-content: space-between
    &__small
        display: block
        font-size: 14px
        color: #617C9A
        max-width: 634px
        line-height: 19px
    &__right

.form
    height: 508px
    width: 350px
    outline: 1px solid red

.main
    padding-top: 128px
    padding: 128px 0
    background:
    background:  url("../img/layer.png") center bottom no-repeat, $secondaryColor
    //-webkit-background-size: cover
    background-size: 100%


.why
    margin-bottom: 180px
    &__title
        font-size: 36px
        margin-bottom: 60px
        text-align: center
    &__box
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__item
        width: 31%
        padding-left: 95px
        position: relative
        margin-bottom: 45px
        &:before
            content: ''
            display: inline-block
            background: url("../img/stars.png") center center no-repeat
            width: 65px
            height: 86px
            position: absolute
            top: 0
            left: 0
    &__item-title
        color: white
        font-weight: 600
        font-size: 16px
        margin-bottom: 14px
        line-height: 22px
    &__item-text
        font-size: 16px
        color: #617C9A
        line-height: 22px
.steps
    &__title
        font-weight: 600
        font-size: 36px
        line-height: 49px
        color: white
        max-width: 1100px
        margin-bottom: 77px
    &__box
        height: 900px //
        //padding-bottom: 100px
        //background-size: cover
        position: relative
    &__box-container
        height: inherit
    &__box-title
        position: absolute
        right: 0
        top: 0
        max-width: 370px
        font-size: 48px
        line-height: 65px

    &__item
        width: 372px
        height: 372px
        border-radius: 50%
        box-shadow: 4px 4px 50px rgba(0, 170, 128, 0.25)
        position: relative
        user-select: none
        &:after
            display: block
            content: ''
            width: 400px
            height: 400px
            position: absolute
            border-radius: 50%
            left: -14px
            top: -14px
            border: 2px solid transparent

        &_register
            background: linear-gradient(222.33deg, #00AA80 -4.31%, #1A2B35 59.29%), #1A2B35;
            padding-top: 104px
            padding-left: 69px
            position: absolute
            left: 0
            top: 0
            &:after
                border-top-color: $primaryColor
                border-bottom-color: $primaryColor
                animation: rotation 4s linear infinite
        &_practice
            padding-top: 127px
            background: linear-gradient(146.58deg, #00AA80 13.4%, rgba(26, 43, 53, 0) 73.84%), #1A2B35
            position: absolute
            top: 50%
            right: 0
            flex-wrap: wrap
            transform: translateY(-50%)
            padding-left: 100px
            padding-right: 55px
            text-align: right
            &:after
                border-top-color: $primaryColor
                border-right-color: $primaryColor
                animation: rotation 6s linear infinite
        &_deposit
            background: linear-gradient(300.42deg, #00AA80 -2.15%, #1A2B35 62%), #1A2B35
            padding-top: 127px
            padding-left: 32px
            position: absolute
            left: 0

            bottom: 0
            &:after
                border-top-color: $primaryColor
                //border-bottom-color: $primaryColor
                animation: rotation 5s linear infinite

    &__item-title
        font-weight: bold
        font-size: 28px
        line-height: 38px
        text-transform: uppercase
        color: $primaryColor
        margin-bottom: 25px
    &__item-text
        font-weight: 600
        font-size: 20px
        line-height: 27px
        color: white
        max-width: 218px
    &__item-img
        position: absolute
        z-index: 4
        right: -230px
        top: 50%
        transform: translate(-50%,-50%)
        &_reverse
            right: auto
            left: 0
    &__btn
        position: absolute
        right: 4%
        bottom: 50px
        text-transform: uppercase
        font-size: 18px
        color: white
        font-weight: bold
        padding: 18px 68px


@keyframes rotation
    from
        transform: rotate(0)
    to
        transform: rotate(360deg)
