extends _layout

block title
	title Index page
block head
	meta(name="keywords" content="")
	meta(name="description" content="")

block content
	include _header.pug
	.promo
		.promo__wrapper
			.container.promo__container
				.promo__left
					.promo__left-box
						h1.promo__title.title Trade smarter
						h2.promo__subtitle.title Trade at <span class="primary-color font-bold">Monfex</span>
						h2.promo__lasttitle.title Get <span class="primary-color font-bold"> 20% </span> bonus <br> on your deposit
					small.promo__small * These will be the terms of the bonus These will be the terms of the bonus These will be the        terms of the bonus These will be the terms of the bonus
				.promo__right
					.form







